description = "Development simulation designed for testing";

simulation:
{
	# simulation steps in nanoseconds
	# currently 5 ms
	duration = 15000000;

	# simulation repetetivity for debuggin/verification/...
	repetitive = true;
	# seed for repetetive simulation
	seed = 17956743511;

	# number of dimensions for simulation
	dimensions = 3;

	# simulation time step in nanoseconds
	time_step_ns = 50000;

	# liquid temperature in Kelvin
	temperature = 293.0;

	volume:
	{
		id = 1;
		name = "Main volume";
		shape = "cube";
		pos = {	x = 0; y = 0; z = 0; };
		size = { x = 10000; y = 10000; z = 10000; };
	};

	# bound:
	#  id - identifier
	#  name - for easier idenfication
	#  pos - position of receiver bound center
	#  radius - receiver radius in nm
	#  size - dimensions in nm

	bounds = (
		# {	id = 1;
	        #         name = "initial Ca2+";
		# 	shape = "cube"
		# 	pos = {	x = 1.0; y = 1.0; z = 1.0; };
		# 	size = { x = 1000; y = 1000; z = 1000; };
		# 	disabled = false;
		# },
		{	id = 3;
			shape = "sphere";
			pos = {	x = 3000.0; y = 0.0; z = 0.0; };
			radius = 400.0;
			disabled = false;
		}
	      	);

	sources = ( {	id = 1001;
	                name = "initial Ca2+";
	       	   	pos = {	x = 0.0; y = 0.0; z = 0.0; };
			disabled = true;
		}
		);

	# molecules:
	#  type - string representign generation type
	#  depending on the type the next values can be:
	#    interval - time in nanosecond between releases
	#    series - number of cycles
	#    number - number of molecules for each release cycle
	#    transmitter = transmitter id of release

	molecules:
	{
		type = "interval";
		interval = 100000;
		series = 0;
		number = 500000;
		transmitter = 1001;
	};

	# currently not supported
	statistics = (
		   {	type = "distribution";
			active = true;
		   },
		   {	type = "density";
			active = true;
		   }
	);
};